<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
  <add key="baseurl" value="http://chembeti-testapp.azurewebsites.net"/>
  <!--<add key="baseurl" value="http://localhost:17337"/>-->
  <add key="ida.nativeclientId" value="3dcd80ff-abf2-486b-b2fb-e79a51cf8029"/>
  <add key="ida.webAPIAppIdURI" value="http://chembetiaravindgmail.onmicrosoft.com/sampledev"/>
  <add key="ida.nativeAppRedirectUri" value="http://testnativeclient/sampledev"/>
  <add key="ida.tenant" value="chembetiaravindgmail.onmicrosoft.com"/>
</appSettings>
</configuration>